$panel-border-size: 0;
$panel-font-color: #F8F4EB;
$white: #F8F4EB;
$red: #C2310D;
$yellow:#F7BC00;
$blue: #54BFC6;
$brown: #736557;
$padding: 20px;
$spacer: 10px;
// @font-face {
//   font-family: 'BebasNeueRegular';
//   src: url('https://sites.google.com/site/directorybesttheme/font/BebasNeue-webfont.eot');
//   src: url('https://sites.google.com/site/directorybesttheme/font/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
//   url('https://sites.google.com/site/directorybesttheme/font/BebasNeue-webfont.woff') format('woff'),
//   url('https://sites.google.com/site/directorybesttheme/font/BebasNeue-webfont.ttf') format('truetype'),
//   url('https://sites.google.com/site/directorybesttheme/font/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }


@font-face {
  font-family: 'BebasNeueRegular';
  src: url('./font/BebasNeue-webfont.eot');
  src: url('./font/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
  url('./font/BebasNeue-webfont.woff') format('woff'),
  url('./font/BebasNeue-webfont.ttf') format('truetype'),
  url('./font/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

$body-font-family: "BebasNeueRegular", "Helvetica Neue", helvetica, sans-serif;


@import "foundation";




html, body{
	height: 100%;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.white-bg{background: $white ;} .white-text{color: $white ;}  
.red-bg {background: $red ;} .red-text {color: $red;} 
.yellow-bg {background: $yellow ;} .yellow-text {color: $yellow;} 
.blue-bg {background: $blue ;} .blue-text{color: $blue;} 
.brown-bg {background: $brown ;} .brown-text{color: $brown;} 
.big-text{
	font-size: 34px;
}
.small-text{
	font-size: 20px;
}
.white-border{
	border: solid $white;
}

.fullscreen-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
}
.padding{
	padding: $padding;
}

.half-padding{
	padding: $padding / 2;
}

.spacer{
	margin-bottom: $spacer;
}
.half-spacer{
	margin-bottom: $spacer / 2;
}

.amp{
	width:100%;
	position: absolute;
	z-index: -1000;
}

.home-content-outer{
	position: absolute;
	padding:27.6% 7% 9.8% 7%;
	width: 100%;
	height: 100%;
	overflow:hidden;
}
.home-content-inner{
	padding: 4% 2% 0% 2%;
	overflow:scroll;
	position: relative;
	width:100%;
	height:100%;
}

.panel:last-child {
	margin-bottom: 0;
}

.panel {
	border-radius:3px;

}

.today-list-item-name{
	vertical-align:text-top;
	
	color: #F8F4EB;
}

.today-list-item-time{
	vertical-align:text-top;
	font-size: 20px;
	color: #736557;
}

.bird-bubble{
	padding: 5%;
}

.guardian{
	position: absolute;
	height:100%;
	width:100%;
	background-color: $white;
}

.guardian-btn-container{
	padding: 40px;
}

.guardian-btn{
	width:80px;
}

input[type="checkbox"] {
    display:none;
}
.checked {
	width: 20px;
	height: 20px;
	// margin: 20px 100px;
	display: inline-block;
	position: relative;
}

.checked label.checked{
    // display:inline-block;
    // // width:257px;
    // // height:266px;
    // width: 25px;
    // height: 25px;
    // background: $white;
    // margin:-1px 4px 0 0;
    // vertical-align:middle;
    // // background:url("/imgs/checkboxes.png") left top no-repeat;
    // cursor:pointer;
    cursor: pointer;
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: $white;
	// border: 1px solid #ddd;
}
.checked label.checked:after{
	opacity: 0;
	content: '';
	position: absolute;
	width: 136%;
	height: 49%;
	background: transparent;
	top: 5%;
	left: -5%;
	border: 4px solid $blue;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-53deg);
	-moz-transform: rotate(-53deg);
	-o-transform: rotate(-53deg);
	-ms-transform: rotate(-53deg);
	transform: rotate(-53deg);
}
.checked input[type=checkbox]:checked + label.checked:after {
	opacity: 1;
}

.checkbox-label {
	display: inline-block;
	padding-left:20px;
	width: 80%;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flex-justify{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

// h1,h2,h3,h4,h5,h6, body {
//  font-family:'Bebas Neue', 'Helvetica Neue', helvetica, sans-serif;
// }
