$panel-border-size: 0;
$panel-font-color: #F8F4EB;
$white: #F8F4EB;
$red: #C2310D;
$yellow:#F7BC00;
$blue: #54BFC6;
$brown: #736557;

@import "foundation";

html, body{
	height: 100%;
}

.white-bg{background: $white ;} .white-text{color: $white ;}  
.red-bg {background: $red ;} .red-text {color: $red;} 
.yellow-bg {background: $yellow ;} .yellow-text {color: $yellow;} 
.blue-bg {background: $blue ;} .blue-text{color: $blue;} 
.brown-bg {background: $brown ;} .brown-text{color: $brown;} 
.big-text{
	font-size: 34px;
}
.small-text{
	font-size: 20px;
}

.fullscreen-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
}

.padding{
	padding: 20px;
}

.spacer{
	margin-bottom:10px;
}

.amp{
	width:100%;
	position: absolute;
	z-index: -1000;
}

.home-content-outer{
	position: absolute;
	padding:27.6% 7% 9.8% 7%;
	width: 100%;
	height: 100%;
	overflow:hidden;
}
.home-content-inner{
	padding: 4% 2% 0% 2%;
	overflow:scroll;
	position: relative;
	width:100%;
	height:100%;
}

.panel:last-child {
	margin-bottom: 0;
}

.panel {
	border-radius:3px;

}

.today-list-item-name{
	vertical-align:text-top;
	
	color: #F8F4EB;
}

.today-list-item-time{
	vertical-align:text-top;
	font-size: 20px;
	color: #736557;
}

.bird-bubble{
	padding: 5%;
}

.guardian{
	position: absolute;
	height:100%;
	width:100%;
	background-color: $white;
}

.guardian-btn-container{
	padding: 40px;
}

.guardian-btn{
	width:80px;
}

